<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--bootstrap file "relation stylesheet"-->
        <link rel="stylesheet" type="text/css" href="{% static './bootstrap1.css' %}" />

		    <!-- Style CSS -->
        <link href="{% static './page_heading_stylesheet.css'%}" rel="stylesheet">
                   
       
        <!--Page Title-->
        <title>Government Schools</title>
    </head>
    <body>

        <!--Navbar menu-->
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url "main" %}">Government Schools</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                      {% for i in user %}
                        {% if i.name == 'Teacher' or i.name == 'Admin' %}
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                      </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  </form>
                  <li class="nav-item dropdown">
                    <a class="dropdown-toggle btn btn-outline-success my-2 my-sm-0" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% if request.user.is_authenticated %}
                        {% for i in user %}
                          {% if i.name == 'Admin' %}
                            <a class="dropdown-item" href="{% url 'profiles' %}">All Profiles</a>
                            <div class="dropdown-divider"></div>
                          {% elif i.name == 'Teachers' %}
                            <a class="dropdown-item" href="{% url 'teacher_profile' %}">My Profile</a>
                            <div class="dropdown-divider"></div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                      {% if request.user.is_authenticated %}
                          <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
                        {% else %}
                          <a class="dropdown-item" href="{% url "login" %}">Login</a>
                          <a class="dropdown-item" href="{% url "register_ask" %}">Register</a>
                      {% endif %}
                    </div>
                  </li>
                </div>
              </nav>
              
        <!--Main-Containt-->
              {% block content %}
              {% endblock %}
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              
              

        <!--Footer-->
                <div class="container-fluid text-light bg-dark">
                  <div class="text-center" style="margin:20px 0px">
                    <img src="{% static './Images/social-1.png' %}" alt="facebook-image" class="rounded-circle"/>
                    <img src="{% static './Images/social-2.png' %}" alt="youtube-image" class="rounded-circle"/>
                    <img src="{% static './Images/social-3.png' %}" alt="twitter-image" class="rounded-circle"/>
                  </div>
                  <div class="text-center" style="margin:10px 0px">
                    <a class="btn btn-outline-success" href="#">Team</a>
                    <a class="btn btn-outline-success" href="#">About</a>
                    <a class="btn btn-outline-success" href="http://web.whatsapp.com/send?phone=+923162810366&text=I Saw Your Web Application Its Awsome">Contact</a>
                  </div>
                  <div class="text-center">
                    <p>Designed And Developed By: <span><a href="https://www.facebook.com/TabishAliMughal">Tabish Ali Mughal</a></span></p>
                  </div>
                </div>
        <script src="{% static './jquery.js' %}"></script>
        <script src="{% static './bootstrap.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
          $(document).ready(function(){
            $("#myInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
          </script>
          <script>
          document.getElementById('btnnext').onclick = next;
          document.getElementById('btnprev').onclick = prev;
            // If the user clicks in the window, set the background color of <body> to yellow
            var counter = 0;
            function next() {
              
              var div = document.getElementById('slideshow');
              var img = div.getElementsByTagName('img')[counter].src;//.childNodes[2];
              
              document.getElementById("imgprev").src=img;//document.getElementById("imgprev").src;
              
              
              counter++;
              if (counter==10) counter = 0;
            }
            function prev() {
              
              var div = document.getElementById('slideshow');
              var img = div.getElementsByTagName('img')[counter].src;//.childNodes[2];
              
              document.getElementById("imgprev").src=img;//document.getElementById("imgprev").src;
              
              
              counter--;
              if (counter==0) counter = 10;
            }
            </script>
    </body>
    
</html>