{% load static %}
<head>
    <!--bootstrap file "relation stylesheet"-->
    <link rel="stylesheet" type="text/css" href="{% static './bootstrap1.css' %}" />

    <!-- Style CSS -->
    <link href="{% static './page_heading_stylesheet.css'%}" rel="stylesheet">
    
    <!--Page Title-->
    <title>POCKET SCHOOL</title>
</head>
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <h2 class="text-center" style="font-family:sans-serif;">Select User Type</h2><hr/>
        <table class="table table-hover table-sm table-dark">
            <tbody>
                {% for i in group %}
                {% if i.name != 'Admin' %}
                <tr>
                    <td style="text-align:center;"><a>{{ i }}<input class="editable" type="radio" name='type' value="{{ i }}"></a></td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td style="text-align:center;"><a><input class="editable" type="submit" value="Create"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>