{% extends "Institutions/HeadSelect.html" %}
{% block content1 %}
    <h3 class="text-center" style="font-family:sans-serif; color:#950740;"><b>Building Information</b></h3>
    <div class="container">
       
        <table class="table table-hover table-sm table-color">
            <tbody id="myTable" align="center" style= "background-color:#C5C6C7; color:black;">
                {% for i in Rooms %}
                <tr >
                    <th style= "color:#950740;">Rooms ({{ i.roomtype }} )</th>
                    {% if i.therefor == 'S' %}
                        <td>For Students</td>
                    {% elif i.therefor == 'T' %}
                        <td>For Staff</td>
                    {% endif %}
                    <td>{{ i.rooms }}</td>
                </tr>
                {% endfor %}
                {% for i in BoundaryWall %}
                <tr>
                    <th style= "color:#950740;">Boundary Wall</th>
                    {% if i.available == 'Y' %}
                        <td>Available</td>
                    {% endif %}
                    {% if i.ifyes == 'C' %}
                        <td>Complete</td>
                    {% elif i.ifyes == 'I' %}
                        <td>InComplete</td>
                    {% endif %}
                {% endfor %}
                </tr>
                {% for i in BuildingCondition %}
                <tr>
                    <th style= "color:#950740;">Building Condition</th>
                    {% if i.condition == 'G' %}
                        <td>Good</td>
                        <td>Not Repairable</td>
                    {% elif i.condition == 'R' %}
                        <td>Repairable</td>
                        {% if i.ifrepairable == 'F' %}
                            <td>Floor</td>
                        {% elif i.ifrepairable == 'R' %}
                            <td>Roof</td>
                        {% elif i.ifrepairable == 'W' %}
                            <td>Walls</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tr>
                {% for i in Area %}
                <tr>
                    <th style= "color:#950740;">Area</th>
                    <td>Length = {{ i.length }} Width = {{ i.width }}</td>
                    <td></td>
                    {% endfor %}
                </tr>
                {% for i in WaterAvailiblity %}
                <tr>
                    <th style= "color:#950740;">Water Available</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        {% if i.availabletype == 'D' %}
                            <td>Drinking</td>
                        {% elif i.availabletype == 'N' %}
                            <td>Non-Drinking</td>
                        {% endif %}
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                {% endfor %}
                </tr>
                {% for i in ROPlantAvailiblity %}
                <tr>
                    <th style= "color:#950740;">RO Plant Available</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        {% if i.type == 'F' %}
                            <td>Functional</td>
                        {% elif i.type == 'N' %}
                            <td>Non-Functional</td>
                        {% endif %}
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
                {% for i in WaterDispenserAvailiblity %}
                <tr>
                    <th style= "color:#950740;">Water Dispenser Available</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        {% if i.type == 'E' %}
                            <td>Electric-Chiller ( {{ i.qty }} )</td>
                        {% elif i.type == 'C' %}
                            <td>Cooler ( {{ i.qty }} )</td>
                        {% endif %}
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for i in PlayGround %}
                <tr>
                    <th style= "color:#950740;">Play Ground</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        {% if i.type == 'H' %}
                            <td>Huge</td>
                        {% elif i.type == 'N' %}
                            <td>Normal</td>
                        {% elif i.type == 'S' %}
                            <td>Small</td>
                        {% endif %}
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for i in Plantation %}
                <tr>
                    <th style= "color:#950740;">Plantation</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        <td>Trees = {{ i.qtyoftrees }} , Plants = {{ i.qtyofplants }}</td>
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for i in ToiletAvailiblity %}
                <tr>
                    <th style= "color:#950740;">Toilet Availiblity</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        <td>{{ i.functionalqty }}</td>
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for i in WiringAvailiblity %}
                <tr>
                    <th style= "color:#950740;">Wiring Availiblity</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        {% if i.condition == 'G' %}
                            <td>Good</td>
                        {% elif i.condition == 'R' %}
                            <td>Repairable</td>
                        {% elif i.condition == 'D' %}
                            <td>Dangerous</td>
                        {% endif %}
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for i in PlumbingAvailiblity %}
                <tr>
                    <th style= "color:#950740;">Plumbing</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        {% if i.condition == 'G' %}
                            <td>Good</td>
                        {% elif i.condition == 'R' %}
                            <td>Repairable</td>
                        {% elif i.condition == 'D' %}
                            <td>Dangerous</td>
                        {% endif %}
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for i in SenitaryAvailiblity %}
                <tr>
                    <th style= "color:#950740;">Sanitary Availiblity</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        <td></td>
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for i in ElectricityAvailiblity %}
                <tr>
                    <th style= "color:#950740;">Electricity Availiblity</th>
                    {% if i.available == 'Y' %}
                        <td>Yes</td>
                        <td><a style="color:#950740" href="{% url 'institution_electricity_availiblity' i.pk %}">See Details</a></td>
                    {% elif i.available == 'N' %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for i in Furniture %}
                <tr>
                    <th style= "color:#950740;">Furniture</th>
                    {% if i.therefor == 'S' %}
                        <td>Students</td>
                        <td><a style="color:#950740" href="{% url 'institution_furniture_availiblity' i.pk %}">See Details</a></td>
                    {% elif i.therefor == 'T' %}
                        <td>Teachers</td>
                        <td><a style="color:#950740" href="{% url 'institution_furniture_availiblity' i.pk %}">See Details</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                </tr>
            </tbody>
        </table>
         <a style="background-color:#950740; color:white;" class="btn btn-primary" href="{% url 'building_info_add' school.pk %}">Add</a>
    </div>
{% endblock %}