{% extends "MainPage.html" %}
{% block content %}
    <h1 class="text-center" style="font-family:sans-serif; color:#950740;">All Schools</h1>
    <div class="container">
        <table class="table table-hover table-sm table-dark">
            <tbody id="myTable" align="center" style= "background-color:#C5C6C7; color:black;">
                <tr style= "background-color:#950740; color:white;">
                    <th>School Code</th>
                    <th>School Name</th>
                </tr>
                {% for v in schools %}
                    <tr>
                        <td>{{ v.pk }}</td>
                        <td><a href="{% url 'institution_detail_for_admin' v.pk %}">{{ v.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a style="background-color:#950740; color:white;" class="btn btn-primary" href="{% url 'institute_create' %}">Add</a>

    </div>

{% endblock %}