{% extends "Institutions/HeadSelect.html" %}
{% block content1 %}
    <div class="container">
        <table class="table table-hover table-sm table-dark">
            <thead align="center">
            <tr>
                {% for i in types %}
                        <th><a href="{% url 'school_teacher_list' school.pk i.pk %}">{{ i }}</a></th>
                {% endfor %}
            </tr>
            </thead>
        </table>
    </div>
    {% block content2 %}
    {% endblock %}
{% endblock %}