{% extends "MainPage.html" %}
{% block content %}
    <h3 class="text-center" style="font-family:sans-serif;">All {{ name }}</h3>
    <div class="container">
    <a href="{% url 'division_create' %}">Add</a>
        <table class="table table-hover table-sm table-dark">
            <tbody id="myTable" align="center">
                <tr>
                    <th>Name</th>
                    <th>Provence</th>
                </tr>
                {% for i in division %}
                    <tr>
                        <td>{{ i.divisionname }}</td>
                        <td>{{ i.provence }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}