{% extends "MainPage.html" %}
{% block content %}
    <h1 class="text-center" style="font-family:sans-serif;">Your Profile</h1>
    <div class="container">
        <a class="btn btn-primary" href="{% url 'teacher_documents' teacher.pk %}">Documents</a>
        <table class="table table-hover table-sm table-dark">
            <tbody id="myTable" align="center">
                <tr>
                    <th>Semis Id</th>
                    <td>{{ teacher.semis_id }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ teacher.type }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ teacher.name }}</td>
                </tr>
                <tr>
                    <th>Father</th>
                    <td>{{ teacher.fathername }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ teacher.gender }}</td>
                </tr>
                <tr>
                    <th>Designation</th>
                    <td>{{ teacher.designation }}</td>
                </tr>
                <tr>
                    <th>Current BPS</th>
                    <td>{{ teacher.currentbps }}</td>
                </tr>
                <tr>
                    <th>Persional Number</th>
                    <td>{{ teacher.persionalnumber }}</td>
                </tr>
                <tr>
                    <th>CNIC Number</th>
                    <td>{{ teacher.cnic }}</td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>{{ teacher.contact }}</td>
                </tr>
                <tr>
                    <th>Date Of Birth</th>
                    <td>{{ teacher.dateofbirth }}</td>
                </tr>
                <tr>
                    <th>Date Of Application</th>
                    <td>{{ teacher.dateofapplication }}</td>
                </tr>
                <tr>
                    <th>Date Of Join</th>
                    <td>{{ teacher.dateofjoin }}</td>
                </tr>
                <tr>
                    <th>Date Of Medical</th>
                    <td>{{ teacher.dateofmedical }}</td>
                </tr>
                <tr>
                    <th>Date Of Regularistation</th>
                    <td>{{ teacher.dateofregularistation }}</td>
                </tr>
                <tr>
                    <th>BPS At First Join</th>
                    <td>{{ teacher.bpsatfirstjoin }}</td>
                </tr>
                <tr>
                    <th>Qualification</th>
                    <td>{{ teacher.qualification }}</td>
                </tr>
                <tr>
                    <th>Domecile</th>
                    <td>{{ teacher.domicile }}</td>
                </tr>
                <tr>
                    <th>Matric Passing Year</th>
                    <td>{{ teacher.matricpassingyear }}</td>
                </tr>
                <tr>
                    <th>Inter Passing Year</th>
                    <td>{{ teacher.interpassingyear }}</td>
                </tr>
                <tr>
                    <th>Graduation Year</th>
                    <td>{{ teacher.graduationyear }}</td>
                </tr>
                <tr>
                    <th>Other Accademics</th>
                    <td>{{ teacher.otheraccademics }}</td>
                </tr>
                <tr>
                    <th>B.ED Passing Year</th>
                    <td>{{ teacher.bedpassingyear }}</td>
                </tr>
                <tr>
                    <th>B.ED Result Date</th>
                    <td>{{ teacher.bedresultdate }}</td>
                </tr>
                <tr>
                    <th>Other Professional Qualification</th>
                    <td>{{ teacher.otherprofessionalqualification }}</td>
                </tr>
                <tr>
                    <th>Biometric</th>
                    <td>{{ teacher.biometricverified }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ teacher.status }}</td>
                </tr>
                <tr>
                    <th>Inter District Transfer</th>
                    <td>{{ teacher.interdistricttransfer }}</td>
                </tr>
                <tr>
                    <th>Date Of Join In Division</th>
                    <td>{{ teacher.dateofjoinindivision }}</td>
                </tr>
                <tr>
                    <th>Date Of Retirement</th>
                    <td>{{ teacher.dateofretirement }}</td>
                </tr>
                <tr>
                    <th>Remarks</th>
                    <td>{{ teacher.remarks }}</td>
                </tr>
                <tr>
                    <th>UC</th>
                    <td>{{ teacher.uc }}</td>
                </tr>
                <tr>
                    <th>Prefix</th>
                    <td>{{ teacher.prefix }}</td>
                </tr>
                <tr>
                    <th>Institution</th>
                    <td>{{ teacher.institution }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ teacher.address }}</td>
                </tr>
                <tr>
                    <th>Head Name</th>
                    <td>{{ teacher.headname }}</td>
                </tr>
                <tr>
                    <th>Head</th>
                    <td>{{ teacher.head }}</td>
                </tr>
                <tr>
                    <th>Training</th>
                    <td>{{ teacher.training }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}