{% extends 'MainPage.html' %}
{% block content %}
    <div class="container">
        <h1 style="color:purple";><b>Furniture Detail</b></h1>
        <table class="table table-hover table-sm table-dark">
            <tbody id="myTable" align="center">
                <tr>
                    <th>Available For</th>
                    {% if furniture.therefor == "S" %}
                        <td>Students</td>
                    {% elif furniture.therefor == "T" %}
                        <td>Teachers</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Desks Quantity</th>
                    <td>{{ furniture.dualdeskqty }}</td>
                </tr>
                <tr>
                    <th>Chairs Quantity</th>
                    <td>{{ furniture.chairsqty }}</td>
                </tr>
                <tr>
                    <th>Tables Quantity</th>
                    <td>{{ furniture.tablesqty }}</td>
                </tr>
                <tr>
                    <th>Shelves Quantity</th>
                    <td>{{ furniture.shelvesqty }}</td>
                </tr>
                <tr>
                    <th>Lockers Quantity</th>
                    <td>{{ furniture.lockersqty }}</td>
                </tr>
                <tr>
                    <th>Cupboards Quantity</th>
                    <td>{{ furniture.cupboardqty }}</td>
                </tr>
                <tr>
                    <th>Other Furniture</th>
                    <td>{{ furniture.others }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}