{% extends 'MainPage.html' %}
{% block content %}
    <div class="container">
        <h1 style="color:#950740";><b>Furniture Detail</b></h1>
        <table class="table table-hover table-sm table-dark">
            <tbody id="myTable" align="center" style="background-color:#C5C6C7; color:black;">
                <tr>
                    <th style="color:#950740";>Available For</th>
                    {% if furniture.therefor == "S" %}
                        <td>Students</td>
                    {% elif furniture.therefor == "T" %}
                        <td>Teachers</td>
                    {% endif %}
                </tr>
                <tr>
                    <th style="color:#950740";>Desks Quantity</th>
                    <td>{{ furniture.dualdeskqty }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Chairs Quantity</th>
                    <td>{{ furniture.chairsqty }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Tables Quantity</th>
                    <td>{{ furniture.tablesqty }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Shelves Quantity</th>
                    <td>{{ furniture.shelvesqty }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Lockers Quantity</th>
                    <td>{{ furniture.lockersqty }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Cupboards Quantity</th>
                    <td>{{ furniture.cupboardqty }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Other Furniture</th>
                    <td>{{ furniture.others }}</td>
                </tr>
            </tbody>
        </table>
                <a style="background-color:#950740; color:white;" class="btn btn-primary" href=""><b>Back</b></a>
    </div>
{% endblock %}