{% extends 'MainPage.html' %}
{% block content %}
    <div class="container">
        <h1 style="color:#950740";><b>Electricity Detail</b></h1>
        <table class="table table-hover table-sm table-dark">
            <tbody id="myTable" align="center" style= "background-color:#C5C6C7; color:black;">
                <tr>
                    <th style="color:#950740";>Available</th>
                    {% if electricity.available == "Y" %}
                        <td>Yes</td>    
                    {% elif electricity.available == "N" %}
                        <td>No</td>
                    {% endif %}
                </tr>
                <tr>
                    <th style="color:#950740";>Meter</th>
                    {% if electricity.meter == "Y" %}
                        <td>Yes</td>
                    {% elif electricity.meter == "N" %}
                        <td>No</td>
                    {% endif %}
                </tr>
                <tr>
                    <th style="color:#950740";>Meter Number</th>
                    <td>{{ electricity.meterno }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Customer Number</th>
                    <td>{{ electricity.consumerno }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Contact Account Number</th>
                    <td>{{ electricity.contactaccnp }}</td>
                </tr>
                <tr>
                    <th style="color:#950740";>Kunda</th>
                    {% if electricity.kunda == "Y" %}
                        <td>Yes</td>
                    {% elif electricity.kunda == "N" %}
                        <td>No</td>
                    {% endif %}
                </tr>
                <tr>
                    <th style="color:#950740";>Solar Panels</th>
                    {% if electricity.solar == "Y" %}
                        <td>Yes</td>
                    {% elif electricity.solar == "N" %}
                        <td>No</td>
                    {% endif %}
                </tr>
                <tr>
                    <th style="color:#950740";>Solar Panel Quantity</th>
                    <td>{{ electricity.solarqty }}</td>
                </tr>
            </tbody>
        </table>
        <a style="background-color:#950740; color:white;" class="btn btn-primary" href=""><b>Back</b></a>
    </div>
{% endblock %}